{{define "content"}}
<br>
<h1 class="text-primary"><b>グループ一覧</b></h1>
<div class="test">
    <div class="list-group">
        {{ .Groups }}
        <a href="#" class="list-group-item list-group-item-action">
            <div></div>
            <button class="btn btn-sm btn-danger pull-right" type="submit">削除</button>
        </a>
        <!-- <a href="#" class="list-group-item list-group-item-action">                        -->
        <!--     <button class="btn btn-sm btn-danger pull-right" type="submit">削除</button> -->
        <!--     test_002                                                                       -->
        <!-- </a>                                                                               -->
        <!-- <a href="#" class="list-group-item list-group-item-action">                        -->
        <!--     <button class="btn btn-sm btn-danger pull-right" type="submit">削除</button> -->
        <!--     test_003                                                                       -->
        <!-- </a>                                                                               -->
        <!-- <a href="#" class="list-group-item list-group-item-action">                        -->
        <!--     <button class="btn btn-sm btn-danger pull-right" type="submit">削除</button> -->
        <!--     test_004                                                                       -->
        <!-- </a>                                                                               -->
        <!-- <a href="#" class="list-group-item list-group-item-action">                        -->
        <!--     <button class="btn btn-sm btn-danger pull-right" type="submit">削除</button> -->
        <!--     test_005                                                                       -->
        <!-- </a>                                                                               -->
    </div>
</div>
</form>
{{end}}

