{{define "content"}}
<br>
<h1 class="text-primary"><b>あなたの暇な日。</b></h1>
{{ range .Events }}
<div>{{ .Content }}</div>
{{end}}
{{end}}
<!-- <div>　{{ .StartTime }} ~ {{ .EndTime }}　　{{ .Content }}</div> -->
<!-- <div class="test">                                                                                                                                    -->
<!--     <div class="list-group">                                                                                                                          -->
<!--         {{ .StartTime }} ~ {{ .EndTime }}　　{{ .Content }}                                                                                         -->
<!--         <a href="#" class="list-group-item list-group-item-action"> <button class="btn btn-sm btn-secondary pull-right" type="submit">編集</button> -->
<!--             <button class="btn btn-sm btn-danger pull-right" type="submit">削除</button>                                                            -->
<!--             　{{ .StartTime }} ~ {{ .EndTime }}　　{{ .Content }}                                                                                  -->
<!--         </a>                                                                                                                                          -->
<!--         <a href="#" class="list-group-item list-group-item-action"> <button class="btn btn-sm btn-secondary pull-right" type="submit">編集</button> -->
<!--             <button class="btn btn-sm btn-danger pull-right" type="submit">削除</button>                                                            -->
<!--             　2022                                                                                                                                   -->
<!--         </a>                                                                                                                                          -->
<!--         {{end}}                                                                                                                                       -->
<!--     </div>                                                                                                                                            -->
<!-- </div>                                                                                                                                                -->
