{{define "content"}}
<br>
<h1 class="text-primary"><b>あなたの暇な日。</b></h1>
<div class="test">
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">　2022/06/10 20:00 ~ 2022/06/10 23:00
        <button class="btn btn-sm btn-secondary pull-right" type="submit">編集</button>
        <button class="btn btn-sm btn-danger pull-right" type="submit">削除</button></a>
        <a href="#" class="list-group-item list-group-item-action">　2022/06/11 20:00 ~ 2022/06/11 23:00
        <button class="btn btn-sm btn-secondary pull-right" type="submit">編集</button>
        <button class="btn btn-sm btn-danger pull-right" type="submit">削除</button></a>
        <a href="#" class="list-group-item list-group-item-action">　2022/06/11 20:00 ~ 2022/06/11 23:00
        <button class="btn btn-sm btn-secondary pull-right" type="submit">編集</button>
        <button class="btn btn-sm btn-danger pull-right" type="submit">削除</button></a>
        <a href="#" class="list-group-item list-group-item-action">　2022/06/12 20:00 ~ 2022/06/12 23:00
        <button class="btn btn-sm btn-secondary pull-right" type="submit">編集</button>
        <button class="btn btn-sm btn-danger pull-right" type="submit">削除</button></a>
        <a href="#" class="list-group-item list-group-item-action">　2022/06/13 20:00 ~ 2022/06/13 23:00
        <button class="btn btn-sm btn-secondary pull-right" type="submit">編集</button>
        <button class="btn btn-sm btn-danger pull-right" type="submit">削除</button></a>
        <a href="#" class="list-group-item list-group-item-action">　2022/06/14 20:00 ~ 2022/06/14 23:00
        <button class="btn btn-sm btn-secondary pull-right" type="submit">編集</button>
        <button class="btn btn-sm btn-danger pull-right" type="submit">削除</button></a>
        <a href="#" class="list-group-item list-group-item-action">　2022/06/15 20:00 ~ 2022/06/15 23:00
        <button class="btn btn-sm btn-secondary pull-right" type="submit">編集</button>
        <button class="btn btn-sm btn-danger pull-right" type="submit">削除</button></a>
        <a href="#" class="list-group-item list-group-item-action">　2022/06/16 20:00 ~ 2022/06/16 23:00
        <button class="btn btn-sm btn-secondary pull-right" type="submit">編集</button>
        <button class="btn btn-sm btn-danger pull-right" type="submit">削除</button></a>
        <a href="#" class="list-group-item list-group-item-action">　2022/06/17 20:00 ~ 2022/06/17 23:00
        <button class="btn btn-sm btn-secondary pull-right" type="submit">編集</button>
        <button class="btn btn-sm btn-danger pull-right" type="submit">削除</button></a>
        <a href="#" class="list-group-item list-group-item-action">　2022/06/18 20:00 ~ 2022/06/18 23:00
        <button class="btn btn-sm btn-secondary pull-right" type="submit">編集</button>
        <button class="btn btn-sm btn-danger pull-right" type="submit">削除</button></a>
    </div>
</div>
<br>
<h1 class="text-primary"><b>誘われ待ちふれんず。</b></h1>
<div class="test">
    <ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">test_001
        <span class="badge bg-primary rounded-pill">5</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">test_002
        <span class="badge bg-primary rounded-pill">2</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">test_003
        <span class="badge bg-primary rounded-pill">3</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">test_004
        <span class="badge bg-primary rounded-pill">5</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">test_005
        <span class="badge bg-primary rounded-pill">6</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">test_006
        <span class="badge bg-primary rounded-pill">5</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">test_007
        <span class="badge bg-primary rounded-pill">3</span>
    </li>
    </ul>
</div>
<!-- {{ range .Groups }}                                                 -->
<!-- <div class="test">                                                  -->
<!--     <div>{{ .Content }}~</div>                                      -->
<!-- </div>                                                              -->
<!-- {{end}}                                                             -->
{{end}}
