{{define "content"}}
<br>
<h1 class="text-primary"><b>あなたの暇な日。</b></h1>
<div class="test">
    {{ range .Events }}
    <ul class="list-group">
        <li class="list-group-item list-group-item-action">
            <div class="container">
                <div class="row" style="width:550px">
                    <span style="font-family:monospace;">
                        <span class="col-9">{{ .StartTimeStr }} ~ {{ .EndTimeStr }}　　</span>
                        <span class="col-3">
                            <button class="btn btn-sm btn-secondary pull-right" type="submit">編集</button>
                            <button class="btn btn-sm btn-danger pull-right" type="submit">削除</button>
                        </span>
                    </span>
                </div>
            </div>
        </li>
    </ul>
    {{end}}
</div>
{{end}}
