{{ define "navbar" }}
<nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">
      <ul class="navbar-nav">
          <a href="#" class="navbar-brand"><img src="/static/img/logo.png" height="50" alt="fu-calendar"></a>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a href="/index" class="nav-link">TOP</a></li>
        <li class="nav-item"><a href="/search" class="nav-link">Search</a></li>
        <li class="nav-item"><a href="/group" class="nav-link">Group</a></li>
        <li class="nav-item"><a href="/invitation" class="nav-link">Schedule</a></li>
        <li class="nav-item"><a href="/logout" class="nav-link">Log out</a></li>
      </ul>
</nav>

{{end}}
