{{define "content"}}
<br>
<h1 class="text-primary"><b>お友達を遊びに誘おう。</b></h1>
<div class="card-group">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <img src="/static/img/time.png" height=250px class="card-img-top" alt="日時で検索">
        <h5 class="card-title">いつがいい？</h5>
        <p class="card-text">時間を指定して検索できるよ、<br>やったね！<p>
        <a href="/search/time" class="btn btn-primary">日時で検索</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="/static/img/friend.jpg" height=250px class="card-img-top" alt="友達で検索">
      <div class="card-body">
        <h5 class="card-title">だれがいい？</h5>
        <p class="card-text">友達を指定して検索できるよ、<br>やったね！<p>
        <a href="/search/friend" class="btn btn-primary">友達で検索</a>
      </div>
    </div>
</div>
{{end}}
