{{define "content" }}
<br>
<h1 class="text-primary text-center"><b>生命の爆誕</b></h1>
<form class="form-signin" role="form" action="/signup" method="post">
    <h2 class="form-signin-heading">
        <div class="text-primary lead"><b>SIGN UP</b></div>
    </h2>
    <input id="name"
           type="text"
           name="name"
           class="form-control"
           placeholder="お名前"
           required autofocus>
    <input type="email"
           name="email"
           class="form-control"
           placeholder="Email"
           required>
    <input type="password"
           name="password"
           class="form-control"
           placeholder="パスワード"
           required>
    <button class="btn btn-lg btn-primary btn-block"
            type="submit">登録</button>
</form></b>
{{end}}

