.test {
  width: 500px;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  overflow: scroll;
  border: gray 3px solid;
  border-radius:20px;
}

.test > button {
float:right
  /* display: block; */
  /* margin: 0 0 0 auto; */
}
